<div class="flex flex-col gap-1">

    <p class="text-writing">{{ label }}</p>

    <div class="flex">

        <input
            #fileInput
            type="file"
            hidden
            (change)="onSelect($event)">

        <div
            class="flex-1 input-wrapper rounded-l-[4px] rounded-r-none px-3 py-2 outline overflow-hidden whitespace-nowrap text-ellipsis">
            {{ selectedFileName || 'Файл не выбран' }}
        </div>

        <button
            type="button"
            class="rounded-r-[4px]"
            (click)="fileInput.click()">
            Обзор...
        </button>

    </div>

</div>