@if (!multiline) {

    <input
        #inp="ngModel"
        [(ngModel)]="model"
        /* (ngModelChange)="model.set($event)" */
        [type]="type"
        [placeholder]="placeholder"
        [required]="required"
        [maxLength]="maxLength || 16"
        pattern="\d*"
        class="w-full">

} @else {

    <textarea
        #inp="ngModel"
        [(ngModel)]="model"
        /* (ngModelChange)="model.set($event)" */
        [rows]="rows"
        [required]="required"
        [maxLength]="maxLength  || 16"
        [placeholder]="placeholder"
        class="w-full resize-none outline-none">
    </textarea>

}