<div class="flex flex-col gap-1">

    <div class="flex justify-between items-center">
        <p class="text-writing">{{ label }}</p>

        @if (labelIcon === 'refresh') {
            <img src="assets/icons/refresh.svg" class="h-4 cursor-pointer">
        }

        <!-- @if (labelIcon === 'eye-show') {
            <img src="assets/icons/eye-show.svg" class="h-4 cursor-pointer">
        }

        @if (labelIcon === 'eye-off') {
            <img src="assets/icons/eye-off.svg" class="h-4 cursor-pointer">
        } -->

        @if (type === 'password') {
            <img
                [src]="passwordVisible()
                    ? 'assets/icons/eye-show.svg'
                    : 'assets/icons/eye-off.svg'"
                class="h-4 cursor-pointer"
                (click)="togglePasswordVisibility()">
        }
    </div>

    <div class="flex flex-col">

        <div class="input-wrapper flex items-center gap-2 p-2 pl-3 pr-3 rounded-[4px] outline">

            @if (leftIcon === 'email') {
                <img src="assets/icons/email.svg" class="h-4">
            }

            <!-- <ng-content select="[input-content]"></ng-content> -->

            @if (!multiline) {

                <input
                    #inp="ngModel"
                    [(ngModel)]="model"
                    /* (ngModelChange)="model.set($event)" */
                    [name]="name"
                    [type]="inputType"
                    [placeholder]="placeholder"
                    [required]="required"
                    [maxLength]="maxLength || 16"
                    [pattern]="pattern"
                    class="w-full">

            } @else {

                <textarea
                    #inp="ngModel"
                    [(ngModel)]="model"
                    /* (ngModelChange)="model.set($event)" */
                    [name]="name"
                    [rows]="rows"
                    [required]="required"
                    [maxLength]="maxLength  || 16"
                    [placeholder]="placeholder"
                    class="w-full resize-none outline-none">
                </textarea>

            }

            @if (rightIcon === 'clear' && model()) {
                <img
                    src="assets/icons/clear.svg"
                    class="h-2 cursor-pointer"
                    (click)="clear()">
            }

        </div>

        <!-- <ng-content select="[errors-content]"></ng-content> -->

        <!-- <form-input-errors [errors]="inp?.errors ?? null" [patternErrorText]="patternErrorText"></form-input-errors> -->

        <form-input-errors 
            errors-content 
            [errors]="inp?.errors ?? null" 
            [submitted]="submitted"
            [touched]="inp?.touched ?? false"
            [patternErrorText]="patternErrorText">
        </form-input-errors>

    </div>

</div>