<header class="flex justify-between p-2 pl-3 pr-3">
    <h2 (click)="navHome()">SURF.RU</h2>

    @if (auth.isAuthenticated()) {
        <div class="flex gap-3">
            <h3>Мой профиль</h3>
            <h3>Выйти</h3>
        </div>
    } @else {
        <div class="flex gap-3">
            <span class="line-ver"></span>
            <h3 (click)="navAuthorisation()">Войти</h3>
            <span class="line-ver"></span>
            <h3 (click)="navRegistration()">Зарегистрироваться</h3>
        </div>
    }
</header>