<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="d-flex justify-space">
    <h2>SURF.RU</h2>
    <div class="d-flex">
      <span class=""></span>
      <h3>Войти</h3>
      <span class=""></span>
      <h3>Зарегистрироваться</h3>
    </div>
  </header>
  <main class="d-flex direction-column">
    <div class="form-modal d-flex outline">
      <div class="form-modal-header d-flex outline">
        <h4>Добавление новой записи</h4>
      </div>
      <div class="form-modal-content d-flex">
        <div>
          <p>Введите текст</p>
          <textarea></textarea>
        </div>
        <div class="bottom-section d-flex justify-space">
          <div>
            <p>Прикрепить изображение</p>
            <div>
              <input type="file">
              <button>Обзор...</button>
            </div>
          </div>
          <button (click)="onClick()">Добавить</button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>