<main class="flex flex-col items-center gap-6 p-6 pl-16 pr-16 justify-center h-full">
  <form-modal class="w-full max-w-300 gap-6" contentClass="p-16 pt-6 pb-6 gap-3">

    <h4 form-header>Авторизация пользователя</h4>
    
    <form form-content #authorisationForm="ngForm" (ngSubmit)="login(authorisationForm)" class="flex gap-6 items-center">
      <div class="flex flex-col gap-3 w-full">

        <form-input-with-label
            [(model)]="login_data.loginOrEmail"
            name="loginOrEmail"
            label="Псевдоним или почта*"
            [submitted]="authorisationForm.submitted"
            [maxLength]="31"
            [required]="true"
            [serverErrors]="serverErrors['loginOrEmail'] ?? []"
            pattern="[a-zA-Zа-яА-Я0-9_]+"
            patternErrorText="Латиница, кириллица, цифры и подчёркивания">
        </form-input-with-label>

        <form-input-with-label
            [(model)]="login_data.password"
            name="password"
            label="Пароль*"
            [submitted]="authorisationForm.submitted"
            [minLength]="6"
            [maxLength]="20"
            [required]="true"
            [serverErrors]="serverErrors['password'] ?? []"
            pattern="[a-zA-Z0-9_]+"
            patternErrorText="Латиница, цифры и подчёркивания"
            type="password">
        </form-input-with-label>

        <form-checkbox
            [(model)]="login_data.rememberMe"
            name="rememberMe"
            label="Запомнить меня">
        </form-checkbox>

      </div>  
      <div class="flex flex-col justify-end gap-2 w-full h-fit">
        <div class="flex flex-col items-center gap-3">
          <p class="text-writing">* - поля, обязательные для заполнения</p>
          <button type="submit" class="min-w-40">Войти</button>
        </div>
        @for (error of serverErrors[''] ?? []; track $index) {
            <h5 class="text-error text-center">
                {{ error }}
            </h5>
        }
      </div>
    </form>
    
  </form-modal>

  <div form-content class="flex justify-between items-center gap-3">
      <p class="text-writing">Ещё нет аккаунта?</p>
      <button (click)="navRegistration()">Зарегистрироваться</button>
    </div>
</main>