<main class="flex flex-col items-center gap-6 p-6 pl-16 pr-16 justify-center h-full">
  <form-modal class="w-full max-w-300 gap-6" contentClass="p-16 pt-6 pb-6 gap-3">

    <h4 form-header>Регистрация нового пользователя</h4>
    
    <div form-content class="flex gap-6 items-center">
      <div class="flex flex-col gap-3 w-full">

        <form-input-with-label
            [(model)]="login_data.nickname_or_email"
            label="Псевдоним или почта*"
            /* labelIcon="refresh" */
            [maxLength]="31"
            pattern="[a-zA-Zа-яА-Я0-9_]+"
            patternErrorText="Латиница, кириллица, цифры и подчёркивания">
        </form-input-with-label>

        <form-input-with-label
            [(model)]="login_data.password"
            label="Пароль*"
            labelIcon="eye-off"
            [maxLength]="20"
            pattern="[a-zA-Z0-9_]+"
            patternErrorText="Латиница, цифры и подчёркивания"
            type="password">
        </form-input-with-label>

      </div>  
      <div class="w-full h-fit">
        <div class="flex flex-col items-center gap-3">
          <p class="text-writing">* - поля, обязательные для заполнения</p>
          <button class="min-w-40">Войти</button>
        </div>
      </div>
    </div>

  </form-modal>

  <div form-content class="flex justify-between items-center gap-3">
      <p class="text-writing">Ещё нет аккаунта?</p>
      <button (click)="navRegistration()">Зарегистрироваться</button>
    </div>
</main>