<app-header></app-header>
<main class="flex flex-col gap-6">
  <form-modal class="max-w-200">

    <h4 form-header>Добавление новой записи</h4>

    <div form-content>
      <p>Введите текст</p>
      <textarea></textarea>
    </div>
    <div form-content class="bottom-section d-flex justify-space">
      <div>
        <p>Прикрепить изображение</p>
        <div>
          <input type="file">
          <button>Обзор...</button>
        </div>
      </div>
      <button (click)="onClick()">Добавить</button>
    </div>

  </form-modal>

  <form-modal class="max-w-200">

    <div form-header class="flex items-center gap-2">
      <div>
        <img src="assets/images/default_avatar.jpg">
      </div>
      <div class="d-flex direction-column">
        <p>Enotovod</p>
        <h5>13.06.2019 в 20:15</h5>
      </div>
    </div>

    <div form-content>
      <p>Sample text Sample text Sample text Sample text Sample text. Sample text Sample text Sample text, Sample text Sample text Sample text Sample text Sample text - Sample text Sample text Sample text. Sample text!!</p>
      <img src="assets/images/default_post_image.jpg">
    </div>

  </form-modal>
</main>