<main class="flex flex-col gap-6 p-6 pl-16 pr-16 justify-center">
  @if (auth.isAuthenticated()) {
    <form-modal class="max-w-200" contentClass="gap-3">
  
      <h4 form-header>Добавление новой записи</h4>
  
      <form form-content #addPostForm="ngForm" (ngSubmit)="savePost()" class="flex flex-col gap-3">
        <form-input-with-label
            [(model)]="post_add_data.text"
            [submitted]="addPostForm.submitted"
            name="text"
            label="Введите текст"
            [maxLength]="255"
            [multiline]="true"
            [rows]="4">
        </form-input-with-label>
    
        <div class="flex justify-between items-end">
          <form-file-input
            [(file)]="post_add_data.image"
            label="Прикрепить изображение">
          </form-file-input>
          <button type="submit" class="pl-6 pr-6 min-w-40">Добавить</button>
        </div>
      </form>
      
    </form-modal>
  }

  <!-- <button (click)="getPosts()">Получить посты</button> -->

  @for (item of object_list; track $index) {
    <form-modal class="max-w-200">
  
      <div form-header class="flex items-center gap-2">
        <div class="aspect-square h-[35px] rounded-[50px] overflow-hidden">
          @if (!!current_user && current_user.avatarCode) {
            <img class="h-full" [src]="environment.apiUrl + '/' + current_user.avatarCode">
          }
          @else {
            <img src="assets/images/default_avatar.jpg">
          }
        </div>
        <div class="d-flex direction-column">
          <p>{{item.post.author.login}}</p>
          <h5 class="text-writing">{{item.post.creationDateTime | date:'dd.MM.yyyy в HH:mm'}}</h5>
        </div>
      </div>
  
      <div form-content class="flex flex-col gap-2">
        <p>{{item.post.text}}</p>
        @for (image of item.images; track $index) {
          <img [src]="environment.apiUrl + '/' + image.code">
        }
      </div>
  
    </form-modal>
  }
</main>