<main class="flex flex-col gap-6 p-6 pl-16 pr-16 justify-center">
  <form-modal class="max-w-200" contentClass="gap-3">

    <h4 form-header>Добавление новой записи</h4>

    <form-input-with-label
        form-content
        [(model)]="post_add_data.text"
        label="Введите текст"
        [maxLength]="255"
        [multiline]="true"
        [rows]="4">
    </form-input-with-label>

    <div form-content class="flex justify-between items-end">
      <form-file-input
        form-content
        label="Прикрепить изображение">
      </form-file-input>
      <button (click)="savePost()" class="pl-6 pr-6">Добавить</button>
    </div>
    

  </form-modal>

  <button (click)="getPosts()">Получить посты</button>

  @for (item of posts; track $index) {
    <form-modal class="max-w-200">
  
      <div form-header class="flex items-center gap-2">
        <div class="rounded-[50px] overflow-hidden">
          <img src="assets/images/default_avatar.jpg">
        </div>
        <div class="d-flex direction-column">
          <p>{{item.post.author.login}}</p>
          <h5>{{item.post.created}}</h5>
        </div>
      </div>
  
      <div form-content class="flex flex-col gap-2">
        <p>{{item.post.text}}</p>
        <img src="{{item.imageShip.image.code}}">
      </div>
  
    </form-modal>
  }
</main>