<main class="flex flex-col items-center gap-6 p-6 pl-16 pr-16 justify-center">
  <form-modal class="max-w-300 gap-6" contentClass="p-16 pt-6 pb-6">

    <h4 form-header>Регистрация нового пользователя</h4>
    
    <form form-content #registrationForm="ngForm" (ngSubmit)="register(registrationForm)" class="flex flex-col gap-3">
      <div class="flex gap-6">
        <div class="flex flex-col gap-3 w-full">
  
          <form-input-with-label
              [(model)]="registration_data.login"
              [submitted]="registrationForm.submitted"
              name="login"
              label="Псевдоним*"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Zа-яА-Я0-9_]+"
              patternErrorText="Латиница, кириллица, цифры и подчёркивания">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.email"
              [submitted]="registrationForm.submitted"
              name="email"
              label="Почта*"
              [maxLength]="31"
              [required]="true"
              type="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              patternErrorText="Неверный формат почты, пример (example@ex.ru)">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.password"
              [submitted]="registrationForm.submitted"
              name="password"
              label="Пароль*"
              labelIcon="eye-off"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Z0-9_]+"
              patternErrorText="Латиница, цифры и подчёркивания"
              type="password">
          </form-input-with-label>
          
          <form-input-with-label
              [(model)]="registration_data.passwordRepeat"
              [submitted]="registrationForm.submitted"
              name="passwordRepeat"
              label="Подтвердите пароль*"
              labelIcon="eye-off"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Z0-9_]+"
              patternErrorText="Латиница, цифры и подчёркивания"
              type="password">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.secondName"
              [submitted]="registrationForm.submitted"
              name="secondName"
              [maxLength]="31"
              label="Фамилия">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.firstName"
              name="firstName"
              [maxLength]="31"
              label="Имя">
          </form-input-with-label>
  
        </div>  
        <div class="w-full h-fit rounded-[4px] overflow-hidden outline">
          <img src="assets/images/default_post_image.jpg">
        </div>
      </div>
  
      <form-file-input
        [(file)]="registration_data.avatar"
        label="Выберите фото">
      </form-file-input>
  
      <form-input-with-label
          [(model)]="registration_data.contactInfo"
          [submitted]="registrationForm.submitted"
          name="contactInfo"
          label="Контактная информация"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <form-input-with-label
          [(model)]="registration_data.about"
          [submitted]="registrationForm.submitted"
          name="about"
          label="О себе"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <form-input-with-label
          [(model)]="registration_data.achivements"
          [submitted]="registrationForm.submitted"
          name="achivements"
          label="Достижения"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <div class="flex justify-between items-start">
        <p class="text-writing">* - поля, обязательные для заполнения</p>
        <button type="submit">Зарегистрироваться</button>
      </div>
    </form>

  </form-modal>

  <div>{{ users }}</div>

  <div class="flex justify-between items-center gap-3">
    <p class="text-writing">Уже есть аккаунт?</p>
    <button (click)="navAuthorisation()">Войти</button>
  </div>
</main>