<main class="flex flex-col items-center gap-6 p-6 pl-16 pr-16 justify-center">
  <form-modal class="max-w-300 gap-6" contentClass="p-16 pt-6 pb-6">

    <h4 form-header>Регистрация нового пользователя</h4>
    
    <form form-content #registrationForm="ngForm" (ngSubmit)="register(registrationForm)" class="flex flex-col gap-3">
      <div class="flex gap-6">
        <div class="flex flex-col gap-3 w-full">
  
          <form-input-with-label
              [(model)]="registration_data.nickname"
              [form]="registrationForm"
              name="nickname"
              label="Псевдоним*"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Zа-яА-Я0-9_]+"
              patternErrorText="Латиница, кириллица, цифры и подчёркивания">
              <!-- <input input-content
                #inp="ngModel"
                [(ngModel)]="registration_data.nickname"
                /* (ngModelChange)="model.set($event)" */
                name="nickname"
                type="text"
                [placeholder]=""
                [required]="true"
                [maxLength]="20"
                pattern="[a-zA-Zа-яА-Я0-9_]+"
                class="w-full">

              <form-input-errors 
                errors-content 
                [errors]="inp?.errors ?? null" 
                [submitted]="registrationForm.submitted"
                [touched]="inp?.touched ?? false"
                patternErrorText="Латиница, кириллица, цифры и подчёркивания">
              </form-input-errors> -->
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.email"
              name="email"
              label="Почта*"
              [maxLength]="31"
              [required]="true"
              type="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              patternErrorText="Неверный формат почты, пример (example@ex.ru)">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.password"
              name="password"
              label="Пароль*"
              labelIcon="eye-off"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Z0-9_]+"
              patternErrorText="Латиница, цифры и подчёркивания"
              type="password">
          </form-input-with-label>
          
          <form-input-with-label
              [(model)]="registration_data.password_repeat"
              name="password_repeat"
              label="Подтвердите пароль*"
              labelIcon="eye-off"
              [maxLength]="20"
              [required]="true"
              pattern="[a-zA-Z0-9_]+"
              patternErrorText="Латиница, цифры и подчёркивания"
              type="password">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.last_name"
              name="last_name"
              [maxLength]="31"
              label="Фамилия">
          </form-input-with-label>
  
          <form-input-with-label
              [(model)]="registration_data.first_name"
              name="first_name"
              [maxLength]="31"
              label="Имя">
          </form-input-with-label>
  
        </div>  
        <div class="w-full h-fit rounded-[4px] overflow-hidden outline">
          <img src="assets/images/default_post_image.jpg">
        </div>
      </div>
  
      <form-file-input
        [(file)]="registration_data.photo"
        label="Выберите фото">
      </form-file-input>
  
      <form-input-with-label
          [(model)]="registration_data.contacts"
          name="contacts"
          label="Контактная информация"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <form-input-with-label
          [(model)]="registration_data.about"
          name="about"
          label="О себе"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <form-input-with-label
          [(model)]="registration_data.achievements"
          name="achievements"
          label="Достижения"
          [maxLength]="255"
          [multiline]="true"
          [rows]="2">
      </form-input-with-label>
  
      <div class="flex justify-between items-start">
        <p class="text-writing">* - поля, обязательные для заполнения</p>
        <button type="submit">Зарегистрироваться</button>
      </div>
    </form>

  </form-modal>

  <div>{{ users }}</div>

  <div class="flex justify-between items-center gap-3">
    <p class="text-writing">Уже есть аккаунт?</p>
    <button (click)="navAuthorisation()">Войти</button>
  </div>
</main>