@import "tailwindcss";

@theme {
    --color-primary: #FFFFFF;
    --color-active: #DCE4E9;
    --color-outline: #AABACC;
    --color-text-active: #818283;
    --color-writing: #6C757D;
    --color-error: #EC2E2E;
}

:root {
    --spacing: 4px;
    
    --color-primary: #FFFFFF;
    --color-active: #DCE4E9;
    --color-outline: #AABACC;
    --color-text-active: #818283;
    --color-writing: #6C757D;
    --color-error: #EC2E2E;
    
    --size-tiny: 5px;
    --size-small: 9px;
    --size-normal: 12px;
    --size-mid: 16px;
    --size-big: 24px;
    --size-huge: 64px;
}

@font-face {
    font-family: 'FasterOne';
    src: url('./assets/fonts/FasterOne-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat';
}

/* Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Современные Chromium */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

button {
    border: none;
    outline: none;

    background-color: var(--color-active);

    outline: 1px solid var(--color-outline);
    outline-offset: -1px;

    padding: var(--size-small) var(--size-normal);
    color: var(--color-text-active);

    font-size: 0.875rem;
    font-weight: bolder;

    height: fit-content;
    cursor: pointer;

}

input, textarea {
    outline: none;
    border: none;
}

html {
    font-family: "Montserrat";
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #C7D2D9;
}
header h2 {
    font-family: 'FasterOne';
}

.outline {
    outline: 1px solid var(--color-outline);
    outline-offset: -1px;
}

.form-modal-header {
    justify-content: start;
    background-color: var(--color-active);
}
.form-modal-content {
    background-color: var(--color-primary);
}

.line-ver {
    height: 100%;
    width: 1px;
    background-color: var(--color-outline);
}